@import "tailwindcss";

:root {
  --background: #e4e4e4;
  --foreground: #171717;

  --primary: #065f46;
  --primary-hover: #047857;
  --accent: #d97706;

  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Menambahkan warna ke Tailwind */
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}